.channel-badge {
    color: var(--status-danger-text);
    font-family: var(--font-code);
    padding: 0 4px;
    border-radius: 4px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .02em;
    line-height: 17px;
    margin-left: 4px;
}

.badge-container {
    display: flex;
    gap: 0.1rem;
    align-items: center;
    margin-left: 0.2rem;
    order: 2;
}

.channel-badge-text, .channel-badge-unknown, .channel-badge-voice, .channel-badge-stage{
    display: none !important;
}

.channel-badge-nsfw {
    background-color: var(--status-danger-background);
}

.vc-pluginFormat {
    border-radius: 5px !important;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid;
}

.vc-pluginNotice {
    font-size: 15px !important;
    background-color: var(--info-warning-background) !important;
    color: var(--info-warning-text) !important;
    border-color: var(--info-warning-foreground) !important;
}
