.vc-badgeLocation-txt{
    font-size: 13px;
}

.vc-unknownMoreInfo{
    margin-bottom: 8px;
    font-size: 10px;
    font-style: italic;
    color:  var(--info-warning-text);
}

.vc-moreInfo-href{
    color:  var(--info-warning-text);
    font-weight: bold;
}

.vc-locationsDescription{
    margin-bottom: 5px;
}

.vc-locationsDescription-red{
    color: var(--status-danger-background);
    text-decoration: none !important;
    cursor: default !important;

    &:hover{
        color: var(--status-danger-text);
        background-color: var(--status-danger-background);
        text-decoration: none !important;
        cursor: default !important;
    }
}

